<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <add name="Local" connectionString="Data Source=173.236.17.87,2433;Initial Catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CheckEntities" connectionString="metadata=res://*/Areas.Members.Models.Checks.Checks.csdl|res://*/Areas.Members.Models.Checks.Checks.ssdl|res://*/Areas.Members.Models.Checks.Checks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.236.17.87,2433;Initial Catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;MultipleActiveResultSets=true;&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MemberEntities" connectionString="metadata=res://*/Areas.Members.Models.Members.csdl|res://*/Areas.Members.Models.Members.ssdl|res://*/Areas.Members.Models.Members.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.236.17.87,2433;Initial Catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;MultipleActiveResultSets=true;&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AccountMembershipProviderEntities" connectionString="metadata=res://*/Accounts.csdl|res://*/Accounts.ssdl|res://*/Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.236.17.87,2433;Initial Catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;MultipleActiveResultSets=true;&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DeflectionCriteriaEntities" connectionString="metadata=res://*/DeflectionCriteria.csdl|res://*/DeflectionCriteria.ssdl|res://*/DeflectionCriteria.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.236.17.87,2433;Initial Catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LateralRestraintEntities" connectionString="metadata=res://*/LateralRestraints.csdl|res://*/LateralRestraints.ssdl|res://*/LateralRestraints.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.236.17.87,2433;initial catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MVCEntities" connectionString="metadata=res://*/Persistance.MVC.csdl|res://*/Persistance.MVC.ssdl|res://*/Persistance.MVC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.236.17.87,2433;initial catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SectionEntities" connectionString="metadata=res://*/Sections.csdl|res://*/Sections.ssdl|res://*/Sections.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.236.17.87,2433;initial catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;multipleactiveresultsets=True;application name=EntityFramework;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SpanCalculatorEntities" connectionString="metadata=res://*/Accounts.csdl|res://*/Accounts.ssdl|res://*/Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.236.17.87,2433;initial catalog=SpanCalculator1;User Id=spancalculatorcom1;Password=475NwMo8;multipleactiveresultsets=True;application name=EntityFramework;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>


  <appSettings>
    <add key="InitialCatalog" value="SpanCalculator1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserId" value="spancalculatorcom1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Password" value="475NwMo8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <system.webServer xdt:Transform="Insert">

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

  </system.webServer>




</configuration>