@using PNACCompetitionsDbFirst.Entities;
@model IEnumerable<LeaderBoardItem>
  
@{
  ViewBag.Title = "Leader Board";
}

<div class="row">
  <div class="col-md-4">
    <h2 class="section-title">Leader Board</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

      <div style="float:left">
        <h3>Length</h3>
        @Html.Partial("/Views/Home/LeaderBoard.cshtml", Model)
      </div>

      <div style="margin-left:60px;float:left">
        <h3>Weight</h3>
        @Html.Partial("/Views/Home/LeaderBoard.cshtml", Model)
      </div>

    </div>
  </div>
</div>


